
LABEL="bootfs"
KERNEL=="sd?1",
ATTR{idVendor}=="IDVENDOR",
ATTR{idProduct}=="IDPRODUCT",
ATTR{serial}=="SERIAL",
SYMLINK+="bootfs"


LABEL="keyfs"
KERNEL=="sd?2",
ATTR{idVendor}=="IDVENDOR",
ATTR{idProduct}=="IDPRODUCT",
ATTR{serial}=="SERIAL",
SYMLINK+="keyfs"

LABEL="randomfs"
KERNEL=="sd?3",
ATTR{idVendor}=="IDVENDOR",
ATTR{idProduct}=="IDPRODUCT",
ATTR{serial}=="SERIAL",
SYMLINK+="randomfs"

