PidFile /home/user/openssh/sshd/sshd.pid
LogLevel INFO
SyslogFacility AUTH
StrictModes yes

Port 31279
AddressFamily inet
ListenAddress 0.0.0.0

Protocol 2
KexAlgorithms diffie-hellman-group-exchange-sha256
Ciphers aes256-ctr
MACs hmac-sha2-512
Compression delayed

PermitRootLogin no
#DenyUsers
AllowUsers user
#DenyGroups
AllowGroups group

PubkeyAuthentication yes
AuthenticationMethods publickey
PubkeyAcceptedKeyTypes ssh-rsa-cert-v01@openssh.com
HostbasedAcceptedKeyTypes ssh-rsa-cert-v01@openssh.com
AuthorizedKeysFile %h/openssh/ssh/authorized_keys

HostKey /home/user/openssh/sshd/ssh_host_rsa_key
HostCertificate /home/user/openssh/sshd/ssh_host_rsa_key-cert.pub
TrustedUserCAKeys /home/user/openssh/sshd/client_ca.pub
RevokedKeys none 
IgnoreUserKnownHosts no
#HostKeyAgent 
RekeyLimit default none

LoginGraceTime 7
MaxAuthTries 6
MaxSessions 7
MaxStartups 10:30:100

Banner /etc/banner
PrintMotd no
PrintLastLog yes
PermitTTY yes
X11DisplayOffset 10
X11Forwarding yes
X11UseLocalhost yes
XAuthLocation /usr/bin/xauth
TCPKeepAlive yes
#ClientAliveCountMax
#ClientAliveInterval
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
PermitUserEnvironment no
PermitUserRC no
VersionAddendum none
UsePrivilegeSeparation sandbox

Subsystem sftp /usr/lib/ssh/sftp-server

HostbasedAuthentication no
HostbasedUsesNameFromPacketOnly no
IgnoreRhosts yes
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no
IPQoS lowdelay throughput
FingerprintHash sha256

#ChrootDirectory
#ForceCommand
#AuthorizedPrincipalsCommand
#AuthorizedPrincipalsCommandUser
#AuthorizedPrincipalsFile
#AcceptEnv - sends TERM by default
#AuthorizedKeysCommand
#AuthorizedKeysCommandUser
#GSSAPIAuthentication
#GSSAPICleanupCredentials
#GSSAPIStrictAcceptorCheck
#KerberosAuthentication
#KerberosGetAFSToken
#KerberosOrLocalPasswd
#KerberosTicketCleanup
#KeyRegenerationInterval
#Match
#RhostsRSAAuthentication
#RSAAuthentication
#ServerKeyBits
#StreamLocalBindMask
#StreamLocalBindUnlink
#UseDNS no
#UseLogin no 
#UsePAM no
#PermitOpen
