[Unit]
Description=Lighttpd Web Server
After=syslog.target network.target

[Service]
User=user
PrivateTmp=true
ExecStart=/usr/bin/lighttpd-angel -D -f /home/user/lighttpd/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
