/***********************************************************************************************************************************************************************************************************/
body{
z-index:0;
height:100%;
width:100%;
margin:0;
padding:0;
color:black;
background-color:lightgrey;
font-size:1vw;
font-family:"Lucida Console", Monaco, monospace;
font-family:"Courier New", Courier, monospace;
overflow:auto;
}
/***********************************************************************************************************************************************************************************************************/
#panel{   width:100%;margin:0px;padding:0px;color:white;background-color:#005577; }
.top{     position:fixed;top:0;left:0;z-index:2;text-align:center; }
.bottom{  position:fixed;bottom:0;left:0;z-index:2;text-align:center; }
#spacer{  width:100%;color:lightgrey; }
/***********************************************************************************************************************************************************************************************************/
a{ padding:0px;margin:0px;text-decoration:none; }
.menu{
height:100%;
margin:0px;
padding-left:1em;
padding-right:1em;
text-decoration:none;
text-align:center;
display:inline;
color:white;
}
.menu:hover{
background-color:white;
color:#005577;
}
/***********************************************************************************************************************************************************************************************************/
.left{ float:left }
.right{ float:right }
.center{ margin:0 auto;text-align:center; }
/***********************************************************************************************************************************************************************************************************/
p,h1,h2,h3,h4,h5,h6 { margin:0px; padding:0px; }
fieldset { border:1px green solid; margin:2vh;padding:2vh; }
legend { margin:0px;padding:0px; }
form{ padding:0px; margin:0px; }
input{width:13vw;}
/*
input{width:100%;height:100%;font-size:1vw;background-color:green;color:black;border:none;}
td{ margin:0px;padding:0px;border:1px solid black;padding:1vh; }
*/
/***********************************************************************************************************************************************************************************************************/
.outer{ display:table;position:absolute;height:100%;width:100%; }
.middle{ display:table-cell;vertical-align:middle;margin:0 auto; }
.inner{ display:table;margin:0 auto; }
/***********************************************************************************************************************************************************************************************************/

