[Match]
Name=host
[Network]
DHCP=ipv4
IPForward=yes
IPMasquerade=yes
LLMNR=false
LLDP=false
[DHCP]
UseDNS=false
UseNTP=false
UseMTU=false
UseDomains=false
UseRoutes=true
SendHostname=false
UseHostname=false

